@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    span#itens {
        display: none;
    }

    section#principal > p {
        margin-top: 5px;
    }

    section#gastronomia {
        height: 230px;
    }

}
@media  screen and (min-width: 992px) {

    section#principal {
        height: 400px;
        padding: 20px 10px;
    }

    section#principal > div#foto {
        float: left;
        width: 50vw;
        height: 400px;
        margin: auto;
    }

    section#principal > p {
        float: right;
        width: 45%;
    }

    section#turismo {
        margin-top: 10px;
        padding: 10px;
    }

    div#container {
        margin: auto;
    }
}
